body {
  background: linear-gradient(to bottom, #666699 0%, #66ccff 69%);
}

.grad {
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}

.colorFondo {
  color: white;
}

.opacity {
  background: rgba(255, 255, 255, 0.2);
}

h1 {
  font-family: "Lobster";
  color: white;
  font-size: 3em;
  margin-top: .6em;
  margin-bottom: .6em;
}

input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-seccion {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.btn-seccion:disabled {
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed;
}

.face {
  font-size: 1.5em;
  margin-right: .4em;
  position: relative;
  top: 4px;
}

.gray {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.btn-face {
  background-color: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.size-o {
  font-size: 16px;
  position: relative;
  top: 5px;
  margin: 0 10px;
}

.input {
  margin: 0 2em;
}

.Footer {
  height: 10vh;
  padding-top: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.box {
  height: 13vh;
}

.transparent {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.login {
  height: 76vh;
}

.weight {
  font-weight: 600;
}

.line:after,
.line:before {
  content: '';
  width: 40%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.vh100 {
  height: 100vh;
  text-align: center;
  padding: 10em 0;
}
/*Estilos para vsita main.html*/

section.collage-photos {
  height: 40vh;
}

.height-col-6 {
  min-height: 20vh;
  border: 2px solid #FFF;
}

.height100 {
  min-height: 100%;
}

.img-cam {
  width: 50px;
  margin-right: 2vw;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

section.box-images {
  border: 2px solid #FFF;
  height: 10vh;
}

section.box-images img.img-fluid {
  height: 155px;
}

.margin-btm-2 {
  margin-bottom: 2vh;
}

#imag {
  width: 30vh;
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  animation-delay: 2s;
  margin-top: 10vh;
}
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@media (min-width: 768px) {
  .margin-btm-2 {
    margin-bottom: 0;
  }
  section.box-images img.img-fluid {
    height: inherit;
  }
  .flex-direction-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .optionFooter {
    background: transparent;
  }
  section#zonadestino.collage-photos {
    height: 80vh;
  }
  .height-col-6 {
    min-height: 40vh;
  }
}
